
{% extends 'app/base.html' %}

{% block content %}

<div class="tc mb2">
  <a class="btn btn-flat mb2" href="{% url 'app:new_memo' %}">新規日報作成</a>
</div>

  <div class="fb indexFb">
  {% for memo in memos %}
  <div class="card">
    <a href="{% url 'app:detail' memo.id %}">
      <div class="fb">
        <p class="title">{{ memo.dateData }}</p>

        <div class="fb three">
        {% if memo.breakfast %}
        <p class="text"><img src="{{ memo.breakfast.url }}"></p>
        {% endif %}

        {% if memo.lunch %}
        <p class="text"><img src="{{ memo.lunch.url }}"></p>
        {% endif %}

        {% if memo.dinner %}
        <p class="text"><img src="{{ memo.dinner.url }}"></p>
        {% endif %}
        </div>
      </div>
    </a>
    </div>
  {% endfor %}
  </div>

{% endblock %}