/*===============================

	ファーストビュー

================================*/
.firstview {
  background: $bg-grey;
  padding-top: 80px;
  font-weight: bold;

  .inner {
    padding: 7em 0;

    h1 {
      margin-bottom: .4em;
    }

    .subtitle {
      font-size: 1.3em;
    }

    .title {
      width: 440px;


      .button {
        width: 100%;

        a {
          width: 100%;
        }
      }
    }

    .img {
      width: calc(100% - 500px);
      text-align: right;

      img {
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

/*===============================

	//ファーストビュー

================================*/


#feature,
#plan {
  padding-top: 7em;
  margin-top: -3em;
}


/*===============================

	Nobilistaの3つの強み

================================*/

#three {
  .inner {
    max-width: 800px;
    border: 6px solid $main-color;
    padding: 3em 2em;

    h2 {
      margin-bottom: 1em;
    }

    ul {
      li {
        text-align: left;
        font-weight: bold;
        font-size: 1.3em;
        justify-content: flex-start;

        i {
          font-size: 1.5em;
          display: inline-block;
          margin-right: .6em;
        }
      }
    }
  }
}

/*===============================

	//Nobilistaの3つの強み

================================*/


/*===============================

	Nobilistaの機能

================================*/


#feature {
  .num-section {
    margin-bottom: 8em;
    position: relative;

    &:nth-child(2n+1) {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 300%;
        height: 120%;
        background: $bg-grey;
        transform: translateX(-50%) rotate(15deg);
        z-index: -1;
      }
    }


    .left {
      width: 42%;
      text-align: left;

      p:first-child {
        font-size: 2.5em;
        font-weight: bold;
      }

      h3 {
        font-size: 1.5em;
        margin-bottom: .6em;
        line-height: 1.5;
      }
    }

    .right {
      width: 52%;
    }

    &.column-rev {
      .fb {
        flex-direction: row-reverse;
      }
    }
  }
}

/*===============================

	//Nobilistaの機能

================================*/




/*===============================

	プラン概要

================================*/

#plan {

  .inner {
    max-width: 960px;

    >.warning-mark {
      text-align: left;
    }
  }

  .table {
    width: 100%;
    margin: 0 auto 1em;

    strong {
      font-size: 1.2em;
    }

    ul.disc {
      padding-bottom: 1em;

      li {
        text-align: left;

        &.grey {
          color: $text-grey;
        }
      }
    }

    .warning-mark {
      margin-bottom: .5em;
    }

    .price {
      padding: .6em 0 0;

      .fb {
        align-items: flex-end;
      }

      strong {
        display: block;
        line-height: 1;
        font-size: 2.6em;
        margin-right: .1em;
      }
    }
  }
}

/*===============================

	//プラン概要

================================*/



#news {
  ul {
    li>.fb {
      background: #fff;
      padding: 1em;
      justify-content: flex-start;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15);
      margin-bottom: 1.5em;
      position: relative;
      align-items: flex-start;
      transition-duration: .3s;

      &:hover {
        box-shadow: none;
      }

      &::after {
        content: "\f054" !important;
        margin-left: .3em;
        font-weight: 900;
        font-family: 'Font Awesome 5 Free',
          'Font Awesome 5 Brands';
        display: inline-block;
        position: absolute;
        right: 1em;
        pointer-events: none;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }

      .left {
        margin-right: 1.2em;
        width: 260px;
        justify-content: flex-start;
      }

      .right {
        padding-top: .3em;
        text-align: left;
        width: calc(100% - 320px);
      }

      .cate {
        background: $main-color;
        color: #fff;
        padding: .5em;
        font-size: 14px;
        border-radius: 3px;
        margin-right: 1em;
      }

      .date {
        font-size: 15px;
        color: $text-grey;
      }
    }
  }
}


/*  --------------------------------------------------------------- 
  1200以下（600pxで問題ないかどうか）
  --------------------------------------------------------------- */
@media screen and (max-width: 1200px) {

  /*===============================

	ファーストビュー

================================*/
  .firstview {
    .inner {
      .title {
        width: 470px;
      }

      .img {
        width: calc(100% - 500px);
      }
    }
  }

  /*===============================

	//ファーストビュー

================================*/
}

/*  --------------------------------------------------------------- 
  960以下（600pxで問題ないかどうか）
  --------------------------------------------------------------- */
@media screen and (max-width: 960px) {

  .firstview {
    >.inner.fb {
      .title {
        width: 350px;
      }

      .img {
        width: calc(100% - 390px);
      }
    }
  }

  #feature {
    padding-bottom: 0;
  }

  #plan {
    table td {
      padding: 1em 2em;
    }
  }
}

/*  --------------------------------------------------------------- 
  768以下（480pxで問題ないかどうか）
  --------------------------------------------------------------- */
@media screen and (max-width: 768px) {

  /*===============================

	ファーストビュー

================================*/
  .firstview {
    .inner.fb {
      padding: 4em 2em 4em;
      flex-wrap: wrap;

      h1 {
        margin-bottom: 0;
      }

      .title {
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
      }

      .img {
        width: 100%;
        text-align: center;

        img {
          display: block;
          margin: 0 auto;
          margin-bottom: 3em;
        }

        .button {
          width: 100%;

          a {
            width: 100%;
          }
        }
      }
    }
  }

  /*===============================

	//ファーストビュー

================================*/

  #three {
    padding-bottom: 2em;
  }

  #feature {
    .num-section {
      >.fb {
        flex-wrap: wrap;
        padding: 0 2em;
      }

      .left {
        width: 100%;
      }

      .right {
        width: 100%;
      }
    }
  }

  #plan {
    .inner {
      max-width: 460px;
      padding: 0 2em;
    }

    .table {
      display: table;
      margin-bottom: 3em;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.mi769 {
        display: none;
      }

      >* {
        width: 100%;
      }
    }
  }

  #news {
    ul {
      li {
        max-width: 520px;
        margin: 0 auto;

        >.fb {
          flex-wrap: wrap;
          padding: 1.3em;

          &::after {
            display: none;
          }

          .left {
            width: 100%;
            justify-content: space-between;
            margin-bottom: .5em;
            margin-right: 0;
          }

          .right {
            width: 100%;
          }
        }
      }
    }
  }

}

/*  --------------------------------------------------------------- 
  600以下（480pxで問題ないかどうか）
  --------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  #three .inner {
    border-width: 3px;
    padding: 3em 1em;
  }

  #news {
    padding-top: 3em !important;
    margin-top: 0 !important;
  }
}

/*  --------------------------------------------------------------- 
  479以下（320pxで問題ないかどうか）
  --------------------------------------------------------------- */
@media screen and (max-width: 479px) {

  /*===============================

	ファーストビュー

================================*/
  .firstview {
    .inner {
      padding: 3.5em 0 4em;

      .title {
        h1 {
          font-size: 2.2em;
          margin-bottom: 0;
        }

      }

      .img {
        img {
          margin-bottom: 3em;
        }

        .button {
          a {
            font-size: 1.2em;
          }
        }
      }
    }
  }

  /*===============================

	//ファーストビュー

================================*/


  /*===============================

	悩み

================================*/

  .nayami {
    .under-title1 {
      margin-bottom: 4.3em;
    }

    .problem {
      padding: 4em 1em 3em;

      .div-number {
        top: -35px;
        width: 70px;
        height: 70px;
        padding: 14px 0;
      }

      .text {
        h3 {
          font-size: 1.4em;
        }
      }
    }
  }

  /*===============================

	//悩み

================================*/


  /*===============================

	特徴

================================*/

  .feature {
    >.fb {
      .inner {
        .text {

          h3 {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 0;
            text-indent: 0;

            strong,
            span {
              display: block;
              width: 100%;
              margin: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }

  /*===============================

	//特徴

================================*/

}