{% extends 'app/base.html' %}

{% block content %}

    <div>
        <a href="{% url 'app:index' %}">ホームに戻る</a>
    </div>

    <h2 class="mb1">{{ memo.created_datetime }}</h2>

    <div class="text-blocks">
    <div class="text-block">
        <p>新しい発見</p>
        <div>
            {{ memo.discovery | linebreaks | urlize }}
        </div>
    </div>
    <div class="text-block">
        <p>一番印象に残ったこと</p>
        <div>
            {{ memo.tired | linebreaks | urlize }}
        </div>
    </div>
    <div class="text-block">
        <p>嬉しかったこと</p>
        <div>
            {{ memo.happy | linebreaks | urlize }}
        </div>
    </div>
    <div class="text-block">
        <p>頑張ったこと</p>
        <div>
            {{ memo.best | linebreaks | urlize }}
        </div>
    </div>
    <div class="text-block">
        <p>明日したいこと</p>
        <div>
            {{ memo.tomorrow | linebreaks | urlize }}
        </div>
    </div>
    <div class="text-block">
        <p>改善点</p>
        <div>
            {{ memo.dislike | linebreaks | urlize }}
        </div>
    </div>
    <div class="text-block">
        <p>その他</p>
        <div>
            {{ memo.other | linebreaks | urlize }}
        </div>
    </div>
    <div class="text-block">
        <p>1日のまとめ</p>
        <div>
            {{ memo.summarize | linebreaks | urlize }}
        </div>
    </div>
    </div>

    <div class="tc">
    <a class="btn btn-flat mb2" href="{% url 'app:edit_memo' memo.pk %}">編集</a>

    <form method="post" action="{% url 'app:delete_memo' memo.pk %}">{% csrf_token %}
        <button class="btn btn-flat bgblack" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
    </form>
    </div>

{% endblock %}